/* footer {
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
footer p:last-child {
  margin-bottom: 0;
} */
/* @import url("https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css") (prefers-color-scheme: no-preference); */
@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css") (prefers-color-scheme: dark);
@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css") (prefers-color-scheme: light);